VITE_SUPABASE_URL=https://cpdfgjdexwvlukspfqzl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwZGZnamRleHd2bHVrc3BmcXpsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTMwMDExOCwiZXhwIjoyMDkwODc2MTE4fQ.hhDbCjJPWEEctZEcxajxw81MWhEHNRsz5EykQV5BohM
VITE_API_URL=http://localhost:8000
VITE_CV_API_URL=http://localhost:8001
VITE_GEMINI_API_KEY=AIzaSyAjx2meSR7zZipOz8WhI5r9BSFBwhLSBM4
GEMINI_API_KEY=AIzaSyAjx2meSR7zZipOz8WhI5r9BSFBwhLSBM4